* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #030713;
    color: #f9fafb;
    line-height: 28px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #282c33;
    font-size: 12px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid #526379;
}

pre code.hljs {
    display: block;
    margin: 10px 0;
    border-radius: 5px;
}

code.hljs {
    display: inline;
}

ul {
    margin: 10px;
    list-style-position: inside;
}

header {
    width: 100%;
    padding: 20px 0;

    nav {
        max-width: 1200px;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-weight: 900;
            font-size: 30px;
        }
    }
}

a {
    font-weight: 600;
    color: #f9fafb;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 100px;
    height: calc(100vh - 150px);
    position: relative;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;

    .role-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }

    .role-container-bot {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 10px;

        .avatar-bot {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 10px;
        }
    }

    .message-bot {
        text-align: left;
    }

    .chat-bubble {
        background-color: #1f2937;
        padding: 20px;
        border-radius: 10px;
    }
}

.form-wrapper {
    margin-top: 100px;
}

form {
    position: absolute;
    max-width: 1200px;
    margin: 0 auto;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    div {
        display: flex;
        width: 100%;
        gap: 10px;
    }

    input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;

        &:focus {
            outline: none;
        }
    }

    button {
        padding: 10px 40px;
        background-color: #48b572;
        color: #f9fafb;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.loading {
    background-color: #526379;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.hidden {
    display: none;
}
